recursive-include examplesite *
recursive-include warp/priv *
recursive-include warp/static *
recursive-include warp/templates *
recursive-include warp/messages *
recursive-include twisted/plugins *.py
