.warpCrud {
  border: 1px solid #F6A828;
  margin: 10px;
  float: left;
}

.warpCrud h1 {
  background-color: #F6A828;  
  color: white;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-family: Sans;
}


/* Nav */

.warp-breadcrumbs {
  font-size: 12px;
  margin-bottom: 10px;
}

.warp-breadcrumbs a, .warp-breadcrumbs a:visited {
  color: #339;
}

.warpCrud .tabs {
  border-bottom: 1px solid #F6A828;
}

.warpCrud .tabs a {
  display: block;
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
  color: #900;
  font-size: 12px;
  line-height: 1.5em;
}

.warpCrud .tabs a.active {
  background-color: #F6A828;
  color: white;
}

.warpCrud .tabs a:hover {
  text-decoration: underline;
}

.warpCrud .tabs input[type="button"] {
  float: right;
  font-size: 12px;
  padding: 0;
  margin: 2px 5px;
}

/* Fields */

.warpCrud form > table, .warpCrud > table {
  margin: 10px;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.warpCrud th, .warpCrud td {
  line-height: 1.5em;
}

.warpCrud th {
  text-align: right;
  vertical-align: top;
}

.ui-datepicker {
  font-size: 11px;
}

.warp-error-highlight {
  background-color: #fcc;
}

.warp-error {
  font-size: 12px;
  color: #900;
  width: 300px;
}

.popupBox {
  display: none;
}

.del-link {
  color: red;
}